# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options
.vs/
.vscode/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml
/_ReSharper.Caches/
/riderModule.iml

# NuGet Packages
*.nupkg
*.snupkg
/packages/

# Test Results
TestResults/
*.trx
*.coverage

# Database files
*.db
*.db-shm
*.db-wal

# OS files
.DS_Store
Thumbs.db
